{
  "ConnectionStrings": {
    "priceconfigurator": "AccountEndpoint=https://localhost:8081/;AccountKey=<cosmos-db-emulator-key>"
  },
  "CloudinaryName": "dgg9enyjv",
  "CloudinaryKey": "<api-key>",
  "CloudinarySecret": "<from-user-secrets-or-vault>",
  "CloudinaryLogin": "false"
}
